*{
      margin:0;
      padding:0;
}
header{
      background-color:rgb(104, 101, 101);
     display:flex; 
     justify-content: flex-end;
}
a{
      text-decoration:none;
}
.ad-img{
      text-align: center;
}

li{
      list-style: none;
      cursor: pointer;
}
.user-circle i{
      font-size:37px;
      padding:5px;
      margin-right:1px;
      margin-top:15px;
      color:white;
}
#arrow-btn{
      font-size:20px;
      color:black;
      padding:5px;
}
.logo{
     width:160px;
     height:60px;
     margin-left:10px;
     margin-right: auto;
     margin-top:10px;
}
.menu-btn {
      font-size:18px;
      font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width:140px;
      height:40px;
      padding:2px;
      margin:20px;
      background-color:white;
      color:black;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
       
}
h2{
      font-weight: bold;
      font-size: 18px;
      color:white;
      padding:8px;
      background-color: rgb(66, 66, 122);
}
li a{
      text-decoration: none;
      font-size: 17px;
      font-family:'Times New Roman', Times, serif;
      color:navy;
      margin:10px;
      line-height:24px; 
      cursor:pointer;   
}
.row:hover{
      background-color:rgb(223, 220, 220);
}

.match-head{
      font-size:16px;
}
.match-score{
      font-size:18px;
      font-weight:bold;
}
.blue{
      color:blue;
      font-weight:bold;
}
.yellow{
      color:rgb(104, 104, 46);
      font-weight:bold;
}
.red{
      color:red;
      font-weight:bold;
}
.more-btn{
      font-size:17px;
      font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width:180px;
      height:40px;
      padding:2px;
      margin:20px;
      background-color:white;
      color:red;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      
}
.more-btn:hover{
      background-color:rgb(214, 212, 212);
}
.adver a{
      text-decoration: none;
      font-size:18px;
      margin:15px;
}
.video-img{
      border-radius: 5px;
}
.play-btn{
      background-color: black;
      width:25px;
      height:25px;
      left:3.2%;    
      transform: translate(3%,120%);
      position:absolute;
      cursor: pointer;
}
.videos_flex{
      display:flex;
}
.video-head{
      font-size:18px;
      font-weight:bold;
      color:navy;
      margin-top:15px;
}

.sub_points{
      list-style-type: disc;
      color:rgb(2, 99, 138);
      font-weight: bold;
      font-size:17px;
      margin:8px;
      padding:3px;
}
.footer{
      background-color: rgb(117, 111, 131);
}
.footer-row{
      display:flex;
      flex-wrap:wrap;
      
}
h4{
      font-size:22px;
      color:#FFF;
      margin:10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
}
.top-btn{

      margin-left:200px;
      font-size:17px;
      font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width:120px;
      height:40px;
      padding:2px;
      background-color:white;
      color:black;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
    

}
.footer-nav{
      display:inline-flex;
     
}
.footer-menu1 li a{
      color:#fff;
      line-height:55px;
      padding:20px;
      font-size:16px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer-menu1 li a:hover{
    color:tomato;
}